<div ng-controller = 'createController'>
	<a href='#/dashboard'>Cancel</a>
	<h3>Put the question and options here:</h3>
	<form>
		<p>Question: <input type='text' ng-model='newQuestion.question'></p>
		<p>Option 1: <input type='text' ng-model='newQuestion.option1'></p>
		<p>Option 2: <input type='text' ng-model='newQuestion.option2'></p>
		<p>Option 3: <input type='text' ng-model='newQuestion.option3'></p>
		<p>Option 4: <input type='text' ng-model='newQuestion.option4'></p>
		<input type='hidden' ng-value='newQuestion.name= user'> 
		<button ng-click='createPoll()'>Create Poll</button>
	</form>
</div>